

body {
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  color: #505962;
}
/* navigation */

.navbar {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  background: rgba(0, 0, 0, 0.12) !important;
}

.navbar-brand {
  font-size: 24px;
  color: #66fcf1 !important;
}

.navbar-nav li {
  padding-right: 0.7rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  padding-top: 0.8rem;
  font-size: 18px;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #1ebba3;
}

.header {
  background: url("../img/Rectangle.svg") no-repeat;
  height: 592px;
  background-size: cover;
}

.header-text {
  padding-top: 130px ;
  color: #fff;
}

.header-text p {
  font-size: 24px;
}

.header-text h1 {
  font-size: 64px;
  width: 80%;
  margin: 0 auto 40px auto;
}


.intro-section {
  margin-top: 100px;
}
.intro-part, .no-margin {
  margin:0 !important;
  padding: 0 !important;
}

.image-box {
 background: url('../img/slide.png') no-repeat;
 background-size: cover;
 background-position: center;
 height: 645px;
}

.text-box {
 height: 645px;
 padding: 120px 110px 120px 30px;
  background: #45a29e;
  margin: auto 0;
  color: #fff;
  font-family: Roboto;
}

.text-box p {
  font-size: 18px;
}


.text-box .description {
  padding: 40px 0;
  font-size: 24px;
}

input {
  height: 42px !important;
  width: 354px !important;
  border: 2px solid #fff !important;
  max-width: 100%;
  margin-bottom: 20px;
}

.slides {
  margin: 0;
  padding: 0;
}

.slides img {
  width: 380px;
}

#gallery-section {
   margin: 100px 0;
}



.portfolio {
  height: 300px;
  background: #45a29e;
  text-align: center;
  color: #fff;
}

#portfolio-section .small-title {
  font-size: 12px;
}

#portfolio-section .small-title::after {
  content: "";
  border-bottom: 1px solid #fff;
  width: 50px;
}

.glide__arrow{
  border-radius: 50% !important;
  padding: 1em;
}

.slider{
  margin-top: 3em !important;
}

input {
  width: 354px  !important;
height: 42px !important;
  border: 2px solid #fff !important;
  background: transparent !important;
  max-width: 100%;
}

textarea {
  width: 644px !important;
  border: 2px solid #45a29e !important;
  max-width: 100%;
}

input::placeholder {
  color: #45a29e !important;
}

.contact-section {
  margin: 140px 0;
}

.section-title {
  width: 27%;
  margin: 0 auto;
}

.section-title h1 {
  font-size: 64px;
  font-weight: 900;
  margin-bottom: 20px;
}

footer {
  height: 451px;
  background: #45a29e;
  color: #fff;
  padding: 59px 0;
  margin-top: 100px;
  font-family: Prompt;
}

.socials {
  flex-direction: row;
}

.socials img {
  margin: 0 5px;
  font-size: 39px;
}

.btn-green {
  border: 1px solid #fff;
  color: #fff;
  font-size: 12px;
  padding: 10px;
  /* background: #45A29E; */
}

.contact-g {
  color: #45a29e;
}

.contact-section .navbar-brand {
  color: #45a29e !important;
}

.hide-on-large{
  display: none;
}

.footer-title h3 {
  font-size: 20px;
  margin-bottom: 30px;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  font-size: 16px;
  margin-bottom: 20px;
}

footer ul li a {
  color: #fff;
  text-decoration: none;
}

footer ul li a:hover {
  text-decoration: none;
  color: #fff;
}

footer .navbar-brand {
  color: #fff !important;
  font-size: 24px !important;
  margin-bottom: 30px;
}

/* media queries */

@media (max-width: 767px) {
  .navbar-brand {
    font-size: 14px;
  }

  footer .navbar-brand {
    font-size: 15px !important;
  }
  .portfolio {
    height: 1080px;
  }

  .glider-contain {
  display: none;
}

  
  .text-box h4 {
    font-size: 15px;
  }

  .contact-g {
    font-size: 24px;
  }

  .contact-section .navbar-brand {
    height: 28px;
    width: 30px;
  }

  .section-title {
    width: 34%;
    margin: 0 auto;
  }

  .section-title h1 {
    font-size: 32px;
  }

  .section-title h1::before {
    width: 14px;
    height: 15px;
  }

  .section-title h1::after {
    width: 14px;
    height: 15px;
    margin-left: 95%;
  }
  .header-text h1 {
    font-size: 40px;
    width: 100% !important;
    margin: none !important;
  }

  .btn-green {
    border: 1px solid #fff;
    font-size: 8px;
    padding: 3px 10px;
  }

  footer {
    height: 600px;
    padding-top: 23px;
    font-family: 'Prompt', sans-serif;
  }

  footer p {
    font-size: 13px;
    text-align: center;
  }

  .footer-centered {
    text-align: center;
  }

  .footer-centered h3 {
    font-size: 15px;
    margin-top: 20px;
  }

  footer form {
    max-width: 100%;
  }

  footer input {
    width: 237.87px !important;
    height: 25.93px !important;
    margin:28px  0;
  }

  .socials {
    justify-content: center;
  }

  /* .text-box {
    width: 131.14px;
    height: 190.31px;
  } */

  .image-box {
    height: 309px;
  }

  .text-box {
    height: 309px;
    padding: 40px 15px 0 12px;
    background: #45a29e;
    margin: auto 0;
    color: #fff;
    font-family: Roboto;
}

.text-box .description {
    padding: 10px 0;
    font-size: 8px;
}
  .text-box p {
    font-size: 8px;
    margin-bottom: 5px;
  }

  /* .text-box h4 {
    font-size: 15px;
  } */

  .intro-content {
    padding: 20px;
  }

  .caption h1 {
    font-size: 2.3rem;
    letter-spacing: 0.15rem;
    padding-bottom: 0.5rem;
  }

  .caption h3 {
    font-size: 1.2rem;
    padding-bottom: 1.2rem;
  }

  .btn-lg {
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }

  .narrow h1 {
    font-size: 1.5rem;
  }

  .clients img {
    max-width: 50%;
    display: block;
    margin: 0 auto;
  }

  .hide-on-mobile{
    display: none;
  }

  .hide-on-large{
    display: block;
  }
}
