@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none !important;
    font-weight: 200;
}

section {
    width: 100%;
    min-height: 15rem;
    padding: 2rem 0;
}

header {
    width: 100%;
}

/* Nav Links */

#nav-links {
    position: fixed;
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #0298d5;
    z-index: 10;
}

#navi {
    position: fixed;
    width: 100%;
    height: 10vh;
    background-color: #0298d5;
    z-index: 20;
}

/* Logo */

#logo {
    margin: 0 auto 0 2rem;
    height: 100%;
    display: flex;
    align-items: center;
}

#logo span {
    color: #fff;
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: .2rem;
}

/* Links */

#links {
    height: 100%;
    width: 40%;
    margin-right: 1rem;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#links li {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#links li a {
    color: #fff;
}

.active {
    font-weight: bold;
}

/* Banner */

#banner {
    position: relative;
    width: 100%;
    height: 500px;
    background-image: url(img/12x.jpg);
    padding: 0 2rem;
    display: flex;
    align-items: center;
}

#banner-text {
    max-width: 350px;
    color: #fff;
}

#banner-text h2 {
    margin-bottom: 2rem;
}

#banner-text p {
    font-size: .9rem;
}

#banner-text button {
    width: 200px;
    padding: .3rem 0;
    color: #0298d5;
    background-color: #fff;
    border: 1px solid transparent;
    outline: none;
}

/* Mobile Menu */

.mobile-menu {
    position: fixed;
    top: 10vh;
    left: 0;
    width: 70vw;
    height: 90vh;
    background-color: #0298d5;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transform: translateX(-70vw);
    transition: .3s ease;
    z-index: 20;
}

.mobile-menu li {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.mobile-menu li a {
    color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

.mobile-menu li a:hover {
    background-color: #047cac;
}

.mobile-menu-slide {
    transform: translateX(0%);
}

/* Hamburger */

#hamburger {
    width: 2rem;
    height: 2rem;
    padding: .3rem;
    margin-right: 1rem;
    display: none;
}

#burger {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.bar {
    width: 100%;
    height: .2rem;
    background-color: #fff;
}

/* About us */

.about-us {
    display: flex;
    justify-content: space-between;
    min-height: 400px;
}

#about-us-image {
    width: 400px;
    min-height: auto;
}

#about-us-image img {
    width: 100%;
}

#about-us-text {
    width: 60%;
    height: auto;
    padding: 0 2rem 0 0;
}

/* Gallery */

.gallery h3 {
    margin-bottom: 1rem;
}

#gallery-images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    grid-auto-rows: auto;
    grid-auto-flow: dense;
    grid-gap: .5rem;
}

#gallery-images div img {
    width: 100%;
}

.vertical {
    grid-row: span 2;
}

.see-more {
    margin: 0 auto;
    width: 200px;
    margin-top: 1rem;
}

.see-more button {
    margin: 0 auto;
    width: 200px;
    padding: .3rem 0;
    background-color: #0298d5;
    border: 1px solid transparent;
    outline: none;
    color: #fff;
}

/* Stories */

.stories {
    padding: 2rem;
}

.stories h3 {
    text-align: center;
    margin-bottom: 1rem;
}

.stories-images {
    display: flex;
    justify-content: center;
}

.story-image-one {
    position: relative;
    margin-right: 1rem;
    width: 400px;
    height: 300px;
    background-image: url(img/2.png);
}

.story-image-two {
    position: relative;
    width: 400px;
    height: 300px;
    background-image: url(img/1.png);
}

.story-image-one div, .story-image-two div {
    width: 170px;
    padding: .3rem;
    text-align: center;
    background-color: #f4f3f3;
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
}

/* Footer */

.footer {
    padding: 2rem 6rem;
    background-color: #1f2833;
    min-height: 300px;
}

.inner-footer {
    width: 100%;
    display: flex;
}

.contact-us {
    width: 300px;
    margin-right: auto;
}

.contact-us h3 {
    color: #fff;
    letter-spacing: .3rem;
    margin-bottom: .5rem;
}

.socials {
    width: 70px;
    display: flex;
    justify-content: space-between;
}

.contact-form {
    width: 40%;
}

.formx-control {
    margin-bottom: .5rem;
    background-color: none;
    display: flex;
    justify-content: space-between;
}

.formx-control label {
    color: #fff;
}

.formx-control input, .formx-control textarea {
    width: 80%;
    padding: .4rem;
    border: 1px solid #696969;
    background-color: transparent !important;
    outline: none;
}

.send {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.send button {
    width: 150px;
    border: 1px solid transparent;
    outline: none;
    background-color: #0298d5;
    color: #fff;
    padding: .3rem;
}

.copy {
    width: 100%;
    margin-top: 2rem;
    text-align: center;
}

.copy span {
    color: #696969;
    text-align: center;
}

/* Responsiveness */

@media screen and (max-width: 1000px) {
    .about-us {
        flex-direction: column;
    }
    #about-us-image {
        width: 60%;
        margin: 0 auto;
        margin-bottom: 2rem;
    }
    #about-us-text {
        width: 100%;
        margin: 0 auto;
        padding: 0 2rem;
        text-align: justify;
    }
    .inner-footer {
        flex-direction: column;
    }
    .contact-us {
        margin-bottom: 2rem;
        width: 100%;
    }
    .contact-form {
        width: 100%;
    }
    .footer {
        padding: 2rem;
    }
    label {
        display: none;
    }
    .contact-form input, .contact-form textarea {
        width: 100%;
    }
    #gallery-images {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, auto));
        grid-gap: .5rem;
    }
}

@media screen and (max-width: 850px) {
    #hamburger {
        display: block;
    }
    #links {
        display: none;
    }
    .stories-images {
        flex-direction: column;
    }
    .story-image-one {
        margin-bottom: 4rem;
        width: 100%;
    }
    .story-image-two {
        margin-bottom: 4rem;
        width: 100%;
    }
    #banner {
        background-position: center;
    }
}

@media screen and (max-width: 600px) {
    #banner-text button {
        color: #0298d5;
        background-color: transparent;
        border: 1px solid #fff;
        color: #fff;
    }
    #banner {
        min-height: 300px;
        background-image: url(img/xsm.jpg);
        background-position: center;
    }
}

@media screen and (min-width: 1440px) {
    .container-fluid {
        max-width: 1440px;
        margin: 0 auto;
    }
    .gallery {
        max-width: 1440px;
    }
    #banner-text {
        max-width: 30%;
        color: #fff;
    }
    #banner {
        width: 1440px;
        margin: 0 auto;
        height: 600px;
    }
    #nav-links {
        width: 1440px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 30;
    }
    #navi {
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 30;
    }
}