@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body, html{
  height: 100%;
  width: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  color: #333333;
  font-family: "Raleway", sans-serif;
}

.brand-color {
  color: #2B7A7B
}

.brand-color-bg {
  background-color: #2B7A7B
}

:root {
  --brand-color: #2B7A7B;
}

/* nav bar */
.nav-wrapper::before{
  background: linear-gradient(180deg, rgba(40, 38, 38, 0.85) 2.61%, rgba(34, 43, 72, 0.72) 10.55%, rgba(28, 48, 105, 0.57) 16.97%, rgba(6, 21, 59, 0.34) 38.37%, rgba(6, 21, 59, 0.34) 42.54%, rgba(6, 21, 59, 0.34) 47.35%, rgba(6, 21, 59, 0.34) 52.57%);;
}
.nav-wrapper {
  background-image: url('../images/header.png');
  background-position: center;
  background-size: cover;
  position: relative;
  margin-top: -15%;
  /* height: 90vh; */
  /* margin-bottom: 50px; */
}

.nav-item {
  border-bottom: 2px var(--brand-color) solid;
}

.nav-item svg {
  color: var(--brand-color)
}

.nav-link {
  color: black;
}
/* nav bar */

 /* sections */
 .star {
   color: var(--brand-color)
 }
  /* sections */











/* Back to top button*/

.back-to-top {
  position: fixed;
  color: var(--pink);
  bottom: 25px;
  right: 25px;
  font-size: 3.5rem;
  z-index: 100;
}

.back-to-top__footer {
  color: var(--pink);
  bottom: 25px;
  right: 25px;
  font-size: 3.5rem;
  z-index: 100;
}

.back-to-top .backIcon,
.back-to-top__footer .backIcon {
  background-color: white;
  border: 2x solid var(--pink);
  border-radius: 50%;
  padding: 10px;
}

.back-to-top .backIcon:hover,
.back-to-top__footer .backIcon:hover {
  color: white;
  background-color: var(--pink);
}

.back-to-top:hover .backIcon,
.back-to-top__footer:hover .backIcon {
  color: white;
  background-color: var(--pink);
}

.back-to-top .backIcon:active .back-to-top__footer:active {
  color: white;
  background-color: var(--pink);
}

.back-to-top__footer {
  position: absolute;
  display: none;
}

.get-in-touch {
  background-image: url('../images/header (10).png');
  background-position: center;
  background-size: cover;
  /* padding: 4rem 1rem */
}

.get-in-touch-content {
  background-color: rgba(0, 0, 0, 0.404)
}

input::placeholder {
  font-size: 2rem;
  color: black !important;
}

textarea::placeholder {
  font-size: 2rem;
  color: black !important;
}

textarea {
  font-size: 2rem;
}

input {
  padding: 4rem 1rem;
  font-size: 2rem;
}

.form-group {
  border: 1px #2B7A7B solid
}

@media screen and (min-width: 1440px) {
  .back-to-top {
    display: none;
  }

  .back-to-top__footer {
    position: absolute;
    display: block;
  }
}

.toggle-icon {
  color: black
}

#nav {
  display: none
}

/* Back to top button*/

/* Extra small devices (phones, 600px and down) */


@media only screen and (max-width: 600px) {
  .hero h1 {
    font-size: 2rem
  }
  .hero p {
    font-size: 1.5rem
  }

  .niche h1 {
    font-size: 2rem;
    color: white
  }

  .niche p {
    font-size: 1rem;
    color: white
  }

  #niche {
    background-image: url('../images/header (5).png');
    background-position: center;
    background-size: cover;
  }
  #gallery {
    height: 20rem !important;
    background-position: center; 
    background-size: cover
  }

  .get-in-touch-content div h1 {
    font-size: 1.5rem !important
  }

  .get-in-touch-content div p {
    font-size: 1rem !important
  }
  input::placeholder {
    font-size: 1rem;
    color: black !important;
  }
  
  textarea::placeholder {
    font-size: 1rem;
    color: black !important;
  }
  textarea {
    font-size: 1rem;
  }
  
  input {
    font-size: 1rem; 

  }

  .form-group {
    border: 1px #2B7A7B solid;
    width: 90% ;
    margin: 2rem auto
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #gallery {
    min-height: 30rem
  }

  .form-group {
    border: 1px #2B7A7B solid;
    width: 90% ;
    margin: 2rem auto
  }
}


@media only screen and (min-width: 768px) {
  #gallery {
    min-height: 30rem
  }
}


@media only screen and (min-width: 992px) {
  #gallery {
    min-height: 30rem
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  #gallery {
    min-height: 30rem
  }
}
/*@SavageCodes Implementation*/
.two{
  border-radius: 5px;
  margin-top: 10%;
 }
.text{
    margin-top: 100px;
  }
  .content{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 49px;
    color: #1F2430;
  }
  .tiny{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 37px;
    color: #1F2430;
  }
  .btn{
      width: 238px;
      height: 59px;
      background: #2B7A7B;
      border-radius: 5px;    
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;      
      color: #ffffff;
      margin-top: 50px;
  }
  .bg{
    height: 670px;
  background-size: cover;
  position: relative;
}

.four{
  position: absolute;
   width: 47%;
  height: 300px;
  left: 0px;
  object-fit: cover;
 
}
.five{
  position: absolute;
  width: 47%;
  height: 300px;
  right: 0px;
  object-fit: cover;
 
}
.six{
  position: absolute;
  width:47%;
 height: 300px;
 left: 0px;
 bottom: 0px;
margin-top: 30%;
object-fit: cover;
}
.seven{
  position: absolute;
  width: 47%;
  height: 300px;
  right: 0px;
  bottom: 0px;
  margin-top: 30%;
  object-fit: cover;
}
.some{
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
  background: #FFFFFF;
border: 4px solid #FFFFFF;
box-sizing: border-box;
border-radius: 10px;
width: 20%;
height:250px;
position: absolute;
z-index: 100;

}
.some p{
  font-family: 'Roboto';
font-style: normal;
font-weight: 100;
font-size: 20px;
line-height: 28px;
color: #1F2430;
padding-left: 40px;
margin-top: 30px;
}
.some a{
    color: #2B7A7B;
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 28px;
margin-top: 50px;
padding-left: 40px;
}
@media only screen and (max-width: 1024px){
  .text{
    margin-top: 50px;
  }
  .content{
    font-size: 20px;
  }
  .section{
      margin-top: 2%;
  }
  .contact-text h4{
    font-size: 3vw;
  }
  .contact-text p{
    font-size: 20px;
  }
}
@media only screen and (max-width: 970px){
.some{
    width: 300px;
}
.contact-text{
  font-size: 3vw;
}
.section{
    margin-top: 3%;
}
}
@media only screen and (max-width: 840px){
  .one, .three, .tiny{
    display: none;
  }
  .profile{
    background: #ECECEC;
    margin-top: 10%;
  }
  .content{
    text-align: center;
  }
  .btn{
    width: 140px;
    margin-left: 30%;
  }
}
@media only screen and (max-width: 768px){
  .profile{
    margin-top: 10%;
    background: #ECECEC;
  }
 .content{
    font-size: 3vw;
    line-height: 30px;
  }
  .btn{
    margin-top: 20px;
  }
  .two{
    width: 100%;
    margin-left: auto;
  }
}
@media only screen and (max-width: 575px){
 
 .two{
  width: 153px;
  height: 165px;
  margin-left: 50%;
  margin-top: 20%;
  transform: translate(-50%, -30%);
 }
 .contact-text h4{
   line-height: 10px;
   font-size: 16px;
 }
 .text{
   margin-top: 2%;
 }
 .content{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
 }
 .some{
  width: 200px;
  height: 150px;
 }
 .some p{
     margin-top: 0px;
     font-size: 15px;
     line-height: 20px;
 }
 .btn{
   margin-left: 50%;
   transform: translate(-50%, -50%);
 }
}
.Niche{
  height: 100%;
  position: relative;
 }
 .box{
   background: #FFFFFF;
 box-shadow: 2px 8px 20px rgba(0, 0, 0, 0.2);
 z-index: 1000;
 }
 .box h1{
   margin-top: 53px;
   font-family: Montserrat;
 font-style: normal;
 font-weight: bold;
 font-size: 5vw;
 line-height: 78px;
 margin: auto;
 padding-left: 153px;
 font-feature-settings: 'cpsp' on;
 
 color: #1F2430;
 
 }
 .box p i{
 color: #2B7A7B;
 }
 .box p{
   margin-top: 50px;
   padding-left: 100px;
   font-family: Roboto;
 font-style: normal;
 font-weight: 300;
 font-size: 2vw;
 color: #1F2430;
 }
 .details{
   font-family: Roboto;
 font-style: normal;
 font-weight: 500;
 font-size: 2vw;
 line-height: 28px;
 color: #2B7A7B;
 padding-left: 244px;
 margin-top: 50%;
 
 }
 .link{
   margin-top: 50px;
 }
 .img{
   width: 100%;
 }
 .niche-sec{
   margin-left: 5%;
   margin-top: 5%;
 }
 
 .contact{
  position: relative;
  text-align: center;
  color: white;
 }
 .contact-text{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
 }
 .contact-text h4{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 60px;
 }
 .contact-text p{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 85px;
  text-transform: capitalize;
 }
 
 @media only screen and (max-width: 768px) and (min-width: 570px){
   .box p{
     width: 700px;
     padding-left: 70px;
     font-size: 3vw;
   }
 }
 @media only screen and (max-width: 768px){
   *{
     /* width: 100%; */
   }
.lil{
  display: none;
}
.blog .btn{
  font-size: 16px;
}
   .Niche{
     margin-top: 10%;
     background-image: url(https://res.cloudinary.com/olasumboeniola/image/upload/v1593654662/Rectangle_9_2_1_xjfkka.png);
     background-size: cover;
     background-repeat: no-repeat;
     height: 100%;
     width: 100%;
     margin: auto;
   }
   .box{
     background-color: transparent;
     box-shadow: none;
     width: 100%;
   
   }
   .box h1{
     color: white;
   }
   .box p i {
     color: white;
 
   }
   .details{
     color: white;
     font-size: 20px;
     padding-left: 170px;
   }
   .box p{
     color: white;
     font-size: 20px;
   }
   .niche-sec{
     margin-left: 0%;
   }
  
 }
 @media only screen and (max-width: 768px) and (min-width: 570px){
   .box p{
     width: 700px;
     padding-left: 70px;
     font-size: 3vw;
   }
 }
@media only screen and (max-width: 416px){
  .box p{
    padding-left: 20px;
  }
  .btn{
    padding-left: 20px;
  }
}
.gallery{
  background: #DEF2F1;
}
.eight{
  width: 47%;

}
.nine{
  width: 47%
}
.ten{
  width: 47%;

}
.eleven{
  width: 47%;
}
.gallery-text{
  margin-top: 30%;
  margin-left: 5%;
}
.gallery-text h4{
  font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 80px;
}
.button.btn{
background: #2B7A7B;
border-radius: 5px;
padding-top: 16px;
padding-bottom: 16px;
color: white;
}
.vector{
  margin-top: 35%;
}
.blog .btn{
  margin-top: 30%;
  background: #2B7A7B;
border-radius: 5px;
padding-top: 16px;
padding-bottom: 16px;
margin-left: 30%;
}
.blog-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.blog-text h4{
  font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 50px;
line-height: 70px;
}
.blog-sec{
  position: relative;
  text-align: left;
  color: white;
}
@media only screen and (max-width: 1024px){
  body{
    width: 100% !important;
  }
}
@media only screen and (max-width: 930px){
  .gallery-text{
    margin-top: 20%;
    margin-left: 0%;
  }
  .blog-text h4{
    font-size: 35px;
  }
  .blog.btn{
    width: 200px;
    margin-left: 10%;
  }
  .contact-text h4{
   font-size: 30px;
  }
  .contact-text p{
    font-size: 25px;
  }
}
@media only screen and (max-width: 800px){
.gallery{
  width: 100%;
  margin: auto;
  margin-left: 0.3% !important;
}
.gallery-text{
  margin-left: -2%;
}
.gallery-text h4{
  font-size: 30px;
}


}
@media only screen and (max-width: 700px){
  .gallery-text{
    margin-top: 0%;
  }
  .gallery-text{
    margin-top: 0%;
  }
  .gallery .btn{
    font-size: 16px;
  }
  .gallery-text h4{
    font-size: 20px;
  }
  .blog-text{
    left: 55%;
  }
  .blog-text h4{
    font-size: 30px;
  }
  .contact-text h4{
    font-size: 30px;
  }
  .blog .btn{
 font-size: 16px;
  }
}
@media only screen and (max-width: 575px){

  .gallery{
    background-color: white;
  }
  .gallery-text{
    margin-left: 0%;
    margin-top: 10%;
  }
  .gallery-img{
    margin-left: 5%;
  }
  .gallery-text h4{
    font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 32px;
text-align: center;
  }
  .blog-sec{
    margin-left: -2%;
  }

  
  .blog .btn{
    margin-left: 50%;
    margin-top: 10%;
    
  }
  .button.btn{
    margin-top: 10%;
  }
  .vector{
    display: none;
  }
  .vect{
    display: none;
  }
}