@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    width: 100%;
    height: 600px;
    background-image: url(img/banner.png);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

section {
    width: 100%;
    /* min-height: 500px; */
}

#nav {
    width: 100%;
    height: 10vh;
    display: flex;
    padding: 0 4rem;
    position: fixed;
    top: 0;
    align-items: center;
    opacity: .8rem;
    z-index: 10;
    background-color: #989DA3;
    opacity: .8;
}

body {
    font-size: 1rem;
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
}

#logo {
    margin-right: auto;
}

#logo span {
    font-size: 1.5rem;
    color: #fff;
}

#ul {
    width: 40%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 0;
}

.active {
    border-bottom: 2px solid #459cdf;
}

#ul li a {
    color: #fff;
}

#ul li a:hover {
    text-decoration: none;
}

.hamburger {
    width: 2rem;
    height: 2rem;
    display: none;
    padding: .3rem;
    border: 1px solid #fff;
}

.burger {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.bars {
    width: 100%;
    height: .1rem;
    background-color: #fff;
}

.mobile {
    width: 70vw;
    position: absolute;
    top: 10vh;
    background-color: #989DA3;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transform: translateX(-70vw);
    transition: .3s ease;
    z-index: 20;
    position: fixed;
}

.mobile li {
    width: 100%;
    height: 100%;
}

.mobile li a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    color: #fff;
    padding-left: 1rem;
}

.mobile li a:hover {
    background-color: #626C6E;
}

.banner-text {
    margin-left: 4rem;
}

#text {
    color: #fff;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.btn {
    width: 200px;
    height: 70px;
    border: 2px solid #fff;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.1rem;
}

.inner-container {
    padding-top: 4rem;
}

.word {
    margin: 2rem 0;
}

.woord, .imagess {
    margin-bottom: 2rem;
}

.word-btn {
    width: 150px;
    height: 50px;
    background-color: #5DA2D5;
    color: #fff;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-img {
    background-image: url(img/1091.png);
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;

}

.col-sm-4 {
    padding-top: 1rem;
}

.yellow h2 {
    text-align: center;
}

.yellow {
    background-color: #F3D250;
    padding: 1rem 0;
}

.images {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, auto));
    grid-gap: .5rem;
}

.image {
    min-width: 300px;
}

.image img {
    width: 100%;
}

.variety {
    display: flex;
    justify-content: space-between;
    padding: 4rem 0;
}

.box-one {
    width: 30%;
}

.box-one img {
    width: 100%;
}

.box-two {
    width: 60%;
    min-height: 400px;
}

.text-body {
    width: 100%;
    max-height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, auto));
}

.text {
    display: flex;
}

.text h6 {
    color: #5DA2D5;
}

.user {
    width: 30px;
    height: 30px;
    margin-right: 1rem;
}

.user-text {
    width: 200px;
}

.user-text h5 {
    color: #5DA2D5;
}

.user img {
    width: 100%;
}

.grey {
    background: #ececec47;
    padding: 1rem 2rem;
    height: auto;
}

.grey h5 {
    text-align: center;
}

.about h1 {
    color: #5DA2D5;
    text-align: center;
}

.menuSlide {
    transform: translateX(0%);
}

.contact-us {
    width: 100%;
    min-height: 300px;
    display: flex;
    padding: 2rem 0;
    justify-content: space-between;
}

.contact-img {
    width: 20%;
}

.contact-img img {
    width: 100%;
}

.contact-form {
    width: 60%;
}

.contact-form input, .contact-form textarea {
    display: block;
    width: 100%;
    padding: .5rem;
    margin-bottom: 1rem;
    border-radius: .2rem;
    border: 1px solid grey;
    outline: none;
}

.contact-us button {
    width: 150px;
    border: 1px solid transparent;
    border-radius: 2rem;
    outline: none;
    background-color: #5DA2D5;
    padding: .5rem;
    color: #fff;
}

.dark {
    width: 100%;
    min-width: 300px;
    background-color: #1F252A;
    color: #fff;
}

.top-footer {
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.footer-header h6 {
    margin-bottom: 1rem;
}

.footer-header p, .footer-header li {
    font-size: .9rem;
}

.email-btn {
    border-radius: 50px;
    background-color: #fff;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.email-btn input, .email-btn button {
    border: 1px solid transparent;
    outline: none;
    background-color: transparent;
    height: 100%;
}

.email-btn input {
    padding-left: .5rem;
    width: 50%;
}

.email-btn button {
    background-color: #5DA2D5;
    color: #fff;
    border-radius: 0 50px 50px 0;
    width: 40%;
}

.middle-footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.contact-btn button {
    border: 1px solid transparent;
    outline: none;
    background-color: #5DA2D5;
    padding: .5rem 1rem;
    color: #fff;
    border-radius: 50px;
}

.socials p {
    margin-left: 1rem;
}

.social {
    display: flex;
}

.soc {
    width: 40px;
    height: 40px;
    background-color: #363838;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
}

.bottom-footer {
    background-color: #000;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1000px) {
    #ul {
        display: none;
    }
    .hamburger {
        display: block;
    }
    .variety {
        flex-direction: column;
    }
    .box-one, .box-two {
        width: 90%;
        margin: 0 auto;
    }
    .text {
        width: 100%;
        margin-bottom: .5rem;
    }
    .user-text {
        width: 100%;
    }
    .text-header {
        text-align: center;
        margin-bottom: 2rem;
    }
    .grey p {
        text-align: justify;
    }
    .contact-img {
        display: none;
    }
    .contact-form {
        width: 90%;
        margin: 0 auto;
    }
    .contact-form button {
        width: 100%;
    }
    .top-footer {
        grid-template-columns: 1fr;
    }
    .footer-sections {
        justify-self: center;
        text-align: center;
        margin-bottom: 1rem;
    }
    .middle-footer {
        flex-direction: column;
    }
    .contact-btn {
        width: 100%;
    }
    .contact-btn button {
        width: 100%;
        margin-bottom: 2rem;
    }
    .socials {
        width: 100%;
    }
    .socials p {
        text-align: center;
    }
    .social {
        width: 100%;
        justify-content: space-around;
    }
}

@media screen and (max-width: 550px) {
    .col-sm-8 h1, .col-sm-8 h5 {
        text-align: center;
    }
    .word {
        text-align: justify;
    }
    .word-btn {
        margin: 0 auto;
    }
    #nav {
        padding: 0 1rem;
    }
    .banner-text {
        margin-left: 1rem;
    }
}